@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, cupcake;
}
.active {
  color: rgb(69, 85, 226);
  font-weight: bold;
}
h1 {
  @apply font-bold text-4xl py-4;
}
